@import url("reset.css");
@import url("common.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

body {
	font-family: "Poppins", sans-serif;
	font-size: 18px;
	color: #9C9C9C;
	font-style: normal;
	font-weight: 400;
	line-height: 1.6;
}
.wrapper {
	overflow: clip;
	min-height: 100%;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	max-width: 1230px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.block__title{
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;	
	color: #000000;
	display: flex;
	gap: 20px;
	text-transform: uppercase;
	margin-bottom: 40px;
	padding-top: 40px;
	
}
.block__title::after{
	content: "";
	border: 2px solid #000000;
	align-self: center;
	flex: 0 1 465px;
}

.block__card{
	display: flex;
	justify-content: space-between;
}
.block__images {
	flex: 0 0 62.16%;
	display: flex;
}
.block__info{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-self: center;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 27.83%;
	gap: 20px;
}
.block__img img{
	max-width: 100%;
	
}
.block__img:hover{
	transform: scale(1.05);

}
.block__header{
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;	
	
}
.block__skills{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	row-gap: 20px;
}



/* Part 2 */
.minimalist{
	margin-top: 70px;
}
.minimalist__header {
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	gap: 40px;
}

.title__header {
	font-style: normal;
	font-weight: 700;
	font-size: 56px;
	line-height: 1.4;
	color: #000000;
	margin-bottom: 40px;
}

.title__text {
	max-width: 518px;
	font-weight: 400;
	font-size: 18px;
	line-height: 160%;
	text-align: center;
	color: #000000;
	margin-bottom: 53px;
}

.minimalist__image-margin {
	margin-bottom: 100px;
}
 img {
	max-width: 100%;
}

.minimalist__text {
	display: flex;
	/* margin-left: -16px;
	margin-right: -16px; */
	gap: 15px;
}

.section__block {
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 50%;
	padding: 0 16px;
}

.section__block:not(:last-child) {
	margin-bottom: 81px;
}

.section__title {
	font-weight: 600;
	font-size: 24px;
	line-height: 1.4;
	color: #333333;
}

.section__title:not(:last-child) {
	margin-bottom: 24px;
}

.section__text {
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.6;
	color: #9C9C9C;
}

.section__text p:not(:last-child) {
	padding-bottom: 30px;
}

.section__text--magrin {
	margin-bottom: 60px;
}

.section__date {
	display: flex;
	gap: 80px;

}
.minimalist__catalog {
	display: flex;
	flex-wrap: wrap;
	row-gap: 32px;
	margin: 0 -16px;

}
.catalog__item{
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 50%;
	
}
.catalog__img{
	padding: 0 16px;
}
.catalog__item-big{
	flex: 0 1 100%;
}
@media (max-width: 899.98px) {
	body {
		font-size: 16px;
	}

	h4,h3 {
		font-size: 20px;
	}

	.block__images {
		justify-content: center
	}

	.block__card {
		flex-wrap: wrap;
		gap: 15px;
		flex-direction: column-reverse;
	}

	.block__header {
		justify-content: center;
		display: flex;

	}

	.block__img {
		max-width: 100%;
	}

	.block__text {
		justify-content: center;
		max-width: 746px;
		display: flex;
		align-items: center;

	}

	.block__title {
		justify-content: center;
		margin-bottom: 15px;
	}

	.block__info {
		gap: 10px;
	}
	/* ------------------------------------- */
		.minimalist {
			margin-top: 30px;
		}
		.minimalist__header{
			gap: 0;
		}
		.title__header{
			font-size: 30px;
			margin-bottom: 10px;
		}
		.title__text{
			margin-bottom: 20px;
		}
		.minimalist__image-margin{
		margin-bottom: 30px;
		}
		.minimalist__text{
			flex-wrap: wrap;
		}
		.section__block{
		flex-basis: 100%;
		}
		.section__block:not(:last-child){
			margin-bottom: 25px;
		}
		.section__title:not(:last-child){
			margin-bottom: 15px;
		}
		.section__block:last-child{
			padding-bottom: 15px;
		}
		.section__text--magrin{
			margin-bottom: 30px;
		}
		.minimalist__text{
			text-align: justify;
			gap: 15px;
		}
		

}
@media(max-width:948px){
	.section__date{
		gap: 30px;
	}
}
@media(max-width:590px) {
	.catalog__item{
		flex-basis: 100%;
	}
	
}