@import url("reset.css");
@import url("common.css");
@import url(https://fonts.googleapis.com/css?family=Poppins:300,500,700&display=swap);
body {
font-family: 'Poppins',sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 12px;
	color: #6C757D;
	background-color: #ffffff;
}
.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper > main {
	flex-grow: 1;
}
[class*="__container"] {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1270px;  /* 1240 + 15 + 15  */
	margin: 0 auto;
}

.header__container {
	display: flex;
	min-height: 100px;
	align-items: center;
	gap: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	gap: 15px;
}

.header__logo {
	position: relative;
	z-index: 2;
	text-transform: uppercase;
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.39;
	color: #495057;
	display: inline-flex;
	align-items: flex-end;
}
.header__logo::after{
	content: ".";
	color:#DDBEA9;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.39;

}
.header__navigation {
display: flex;
align-items: center;
flex:  1 1 auto;
gap: 3px;
}

.header__menu {
	display: flex;
	flex: 1 1 auto;
	justify-content: center;
	align-items: center;
}
.header__menu--end{
	justify-content: center;
	display: flex;
	gap: 25px;
	align-items: center;
}
.menu__action:hover{
	color: #000000;

}

.menu {}
.menu__body{

}

.menu__list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 25px;
	align-items: center;
	row-gap: 3px;
}

.menu__item {
	
}
.menu__item:hover .menu__link,
{
	color: #fff;
}
.menu__link.active{
	color: #495057;
}
.menu__item:hover .menu__link::before,
 .menu__link.active::before{
	width: 100%;
	left: 0;
}
.menu__link {
line-height: 2.8;
text-align: right;
color: rgba(73, 80, 87, 0.5);
transition: color 0.3s;
position: relative;
display: inline-block;


}
.menu__link::before{
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	border-radius: 2px;
	background-color:#DDBEA9;
	width: 0;
	transition: width 0.3s, left 0.3s;
}


.menu__item--parent {
	position: relative;
	padding-right: 13px;
	
	
}
.menu__sub-menu {
	z-index: 1;
}
.sub-menu__item {}

.sub-menu__list{
	background-color: #212529;
	border-radius: 5px;
	padding: 20px;
	min-width: 140px;
		

}

.sub-menu__item:not(:last-child){
	padding-bottom: 10px;
}
.sub-menu__link {
	color: rgba(248, 249, 250, 0.6);
	line-height: 2.08;
	font-weight: 500;
	transition: color 0.3s;
}
.sub-menu__link:hover{
	color: #fff;
}


.menu__link--button{
	background-color: #DDBEA9;
	display: inline-block;
	font-size: 12px;
	line-height: 2.08;	
	color: #F8F9FA;
	border-radius: 20px;
	padding: 8px 16px;
	transition: background-color 0.3s;
	align-self: center;
	position: relative;
}
.menu__link--button:hover  {
	background-color: cornflowerblue;
}
.menu-icon{
	display: none;
}
/* ------------------------------- */
.page{}
.page__main {}

.main {

}

.main__container {
	
}
.main__slider{
	position: relative;
	margin-bottom: 100px;
}

.main__body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
	min-height: 500px;
	gap: 15px;
}

.main__authhor {
	line-height: 1.67;
	text-align: center;
	color: #E5E5E5;
	z-index: 1;
}

.main__title {
	font-weight: 700;
	font-size: 25px;
	line-height: 1.6;
	color: #F8F9FA;
	z-index: 1;
	align-items: center;
	justify-content: center;
	max-width: 535px;
}

.title {}

.main__background {
	position: absolute;
	height:100%;
	width: 100%;
	top:0 ;
	left: 0;
	padding-bottom: 40.322581%;
	border-radius: 5px;

}
.main__background img{
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
	
}
/* ------------------------------- */
/* Content */

.topics {}

.topics__container {}

.topics__body {
	display: flex;
	margin: 0 auto;
	max-width: 1028px;
}

.topics__left {
	flex: 0 0 38.910506%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 30px;
}

.topics__title {
	line-height: 1.6;
	font-weight: 700;
	font-size: 25px;
	color: #212529
}

.topics__menu {}


.menu-topics {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.menu-topics__item {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.menu-topics__link {
	display: inline-block;
	font-weight: 500;
	font-size: 12px;
	line-height: 208%;
	color: #495057;
	position: relative;
	padding-left: 19px;
	transition: color 0.3s;
}
.menu-topics__link::before{
	position: absolute;
	content: "+";
	left: 0;
	top: 0;
	transition: transform 0.8s;
}
.menu-topics__link:hover{
	color:#DDBEA9 ;
}
.menu-topics__link:hover::before{
	transform: rotate(-180deg);

}
.menu-topics__search {
	color: rgba(73, 80, 87, 0.5);
	font-weight: 500;
	line-height: 2.08;
	transition: color 0.3s;
	background: url(../img/icons/search.svg) 0 50% no-repeat;
	padding-left: 20px;

}



.topics__content {
	flex: 0 0 61.089494%;
	padding-left: 23px;
}

.topics__article {
	display: flex;
	align-items: flex-start;	
}

.topics__items{
	display: flex;
	flex-direction: column;
	gap: 40px;
}
.topics__items:not(:last-child){
	margin-bottom: 60px;


}
.article__img {
flex: 0 0 47.438017%;
overflow: hidden;
}
.article__img img{
	max-width: 100%;
	border-radius: 3px;
	transition: transform 0.6s;
}
.article__img:hover img{
	transform: scale(1.05);
}
.article__block{
flex: 0 0 52.561983%;
padding-left: 30px;
display: flex;
flex-direction: column;
gap: 15px;
}

.article__data {
	font-size: 12px;
	line-height: 1.67;
	color: #6C757D;
}

.article__title {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.56;
	color: #212529;
	font-style: normal;
	transition: color 0.3s;
}
.article__title:hover{
	color: #DDBEA9;
}

.article__description {
	font-size: 12px;
	line-height: 1.67;
	color: #6C757D;
	padding-bottom: 15px;
	
}

.article__footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 10px;
	border-top: 1px solid #E5E5E5;
	padding-top: 15px;
}

.article__author {
	line-height: 1.67;	
	color: #6C757D;
	transition: color 0.5s;
}
.article__author:hover{
	color: #212529;
}
.article__like {
	transition: color 0.5s;
	background: url(../img/icons/like.svg) left no-repeat;
	padding-left: 20px;
}

.article__like:hover {
	color: #212529;
}
.topics__page{
	padding-bottom: 102px;
}
.page-topics__list{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 15px;
	row-gap: 10px;
}
.page-topics__link{
	color: rgba(73, 80, 87, 0.5);
	font-weight: 500;
	font-size: 12px;
	line-height: 2.08;
	transition: color 0.3s;
	position: relative;
}
.page-topics__link.active::after{
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	height: 2px;
	width: 100%;
	border-radius: ;
	background-color:#DDBEA9 ;
	border-radius: 5px;
}
.page-topics__link.active:hover{
	color: #495057;
}
.page-topics__link:hover{
	color: #495057;
}
.footer__block{
	background-color:#212529 ;

}
.block__about{
	
}
.block__container{
	padding-top: 100px;
	flex-wrap: wrap;
	padding-bottom: 100px;
}
.block__top{
	display: flex;
	gap: 10px;
	justify-content: space-between;
	padding-bottom: 40px;
	border-bottom: 1px solid rgba(229, 229, 229, 0.2);
	
}
.block__logo{
	font-weight: 700;
	font-size: 18px;
	line-height: 1.39;
	color: #F8F9FA;
	align-items: flex-start;
	display: flex;
	
}

.logo__link::after{
	content: ".";
	color:#DDBEA9;
	font-weight: 700;
	font-size: 18px;
	line-height: 1.39;
	
}
.logo__link:hover{
	color: #DDBEA9;
	transition: color 0.3s;
}

.about__list{
	display: flex;
	gap: 25px;
	line-height: 2.08;
	text-align: center;
	color: rgba(248, 249, 250, 0.5);
	align-items: flex-end;
}
.social__list{
	display: flex;
	gap: 25px;
	line-height: 2.08;
	color: rgba(248, 249, 250, 0.5);
}
.block__footer{
	padding-top: 40px;
	display: flex;
	justify-content: space-between;
	line-height: 1.67;
	color: rgba(248, 249, 250, 0.5);
}
.social__link:hover,.about__link:hover{
	color: #F8F9FA;
}




/* ------------------------------ */
@media(max-width:892.99px){
	.topics__body{
		flex-direction: row;
		flex-wrap: wrap;
	}
	.topics__left{
		flex-direction: column;
		flex: 0 0 100%;
		justify-content: space-between;
	}

	.menu-topics{
	flex-direction: row;
	flex-basis: 100%;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	}
	.menu-topics__link{
		padding-left: 14px;

	}
	.topics__content{
		flex-basis: 100%;
		padding-top:23px;
		padding-left: 0;
		

	}
	.article__img{
		flex-basis: 36%;
	}
	.article__block{
		flex-basis: 58%;
	}
	.page-topics__list{
		justify-content: center;
	}
}

@media (max-width: 767.98px){
	.header__container{
		min-height: 60px;
	}

}
@media(any-hover:hover) {

	.menu__item:hover .menu__link,
	{
	color: #fff;
}

.menu__item:hover .menu__link::before {
	width: 100%;
	left: 0;
}
.menu__item--parent:hover .sub-menu {
	top: 100%;
	opacity: 1;
	visibility: visible;
	pointer-events: auto;

}
}
@media(min-width:699.98px){
	.sub-menu {
		position: absolute;
		top: 120%;
		left: 0;
		padding-top: 5px;
		opacity: 0;
		visibility: hidden;
		transition: all 0.3s;
		pointer-events: none;
		}
		.menu__item--parent::after {
			content: "";
			width: 8px;
			height: 5px;
			position: absolute;
			top: 15px;
			right: 0;
	
			background: url('../img/icons/arrow.svg') 0 0 / 100% no-repeat;
	
		}
}
@media (max-width: 699.98px) {
	.header__menu--end {
		padding-right: 10px;
		align-items: center;
		gap: 18px;
		min-width: 170px;
		}

	.menu__list{
		flex-direction: column;
		row-gap: 20px;
		align-items: inherit;
	}
	.menu__link{
		font-size: 20px;
		color: #fff;
	}
	.menu-icon{
		display: block;
		flex: 0 0 15px;
		height: 18px;
		position: relative;
	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span {
		content: "";
		position: absolute;
		height: 1px;
		left: 0;
		width: 100%;
		background-color:#495057;
	}
		.menu-icon::before{
			top: 0;
		}
		.menu-icon::after{
			bottom: 0;
		}
		.menu-icon span{
			top: 50%;
			margin-top: -0.5px;
		}
		.menu__body{
			position: fixed;
			width: 100%;
			height: 100%;
			top: 0;
			left: -100%;
			overflow: auto;
			background-color: #212529;
			padding: 70px 15px 20px 15px;
		}
		.menu__body::before{
			content: "";
			height: 60px;
			width: 100%;
			top: 0;
			left: -100%;
			background-color: #000000;
			z-index: 1;
			position: fixed;	
		}
		.sub__menu__list {
			padding: 10 px 0px 0px 0px;
			min-width: 0;
		}
		.sub-menu__link{
			font-size: 16px;
		}
}




