@import url("reset.css");
@import url("common.css");


@import url(https://fonts.googleapis.com/css?family=Arsenal:regular,italic&display=swap);

@font-face {
	font-family: 'Kyiv Type Titling';
	src: url('/fonts/KyivTypeTitling-Regular.woff2') format('woff2'), url('/fonts/KyivTypeTitling-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Kyiv Type Titling';
	src: url('/fonts/KyivTypeTitling-Medium.woff2') format('woff2'), url('/fonts/KyivTypeTitling-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
}

body {
	font-family: "Arsenal", serif;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1;
	
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	/* min-width: 0; */
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1310px;
	/* 1280 + 15 + 15  */
	margin: 0 auto;
}


.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header__container {
	display: flex;
	min-height: 120px;
	align-items: center;
	gap: 15px;

}

.header__logo {
	position: relative;
	z-index: 2;
	color: #FFF;
	font-family: 'Kyiv Type Titling';
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1;
}

.header__navigation {
	display: flex;
	align-items: center;
	gap: 20px;
	flex: 1 1 auto;
	justify-content: flex-end;
	min-height: 25px;
}


.header__menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 25px;
	flex: 1 1 auto;
}
/* ------------------- */
.menu {}

.menu__body {
	
	
}

.menu__list {
	display: flex;
	gap: 40px;
	flex-wrap: wrap;
}

.menu__item {
	
}


.menu__link {
	line-height: 1.6;
	color: #FFF;
	position: relative;
	display: inline-block;
}
.menu__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	transition: width 0.3s, left 0.3s;
	border-radius: 2px;
	background-color: #ffffff;
}
.menu-icon {
	display: none;
}
@media(any-hover:hover){
	.menu__item:hover .menu__link::before{
		width: 100%;
		left: 0;
	}
}

.menu-icon{
	display: none;
}


@media(max-width:767.98px) {
	.header__container {
		min-height: 50px;
	}
}
@media(max-width:710.98px){
	.menu__list{
		flex-direction: column;
		row-gap: 25px;
	}

	.menu-icon{
	display: block;
	flex: 0 0 30px;
	height: 18px;
	position: relative;

	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span{
	content: "";
	position: absolute;
	height: 1px;
	left: 0;
	width: 100%;
	background-color: #FFF;
	transition: all 0.3s;

	}
	.menu-icon::before{
		top: 0;
	}
	.menu-icon::after{
		bottom: 0;
	}
	.menu-icon span{
		top: 50%;
		margin-top: -0.5px;
	}
	.menu-open .menu-icon::before{
		top: 50%;
		transform: rotate(-45deg);
	}
		.menu-open .menu-icon::before{
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	.menu-open .menu-icon::after {
		bottom: 50%;
		transform: translateY(50%) rotate(45deg);
	}
	.menu-open .menu-icon span{
		width: 0;
		left: 50%;
	}
	.menu__body{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: #000;
		padding: 70px 15px 20px 15px;
		transition: left 0.3s;
	}
	.menu__body::before{
		content: "";
		height: 50px;
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #000000;
		z-index: 5;
		transition: left 0.3s;
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before{
		left: 0;
	}

	
}
/* ------------------------ */
.page {
	
}

.page__main {
	
}

.main {
	position: relative;
	min-height: 100vh;
	display: flex;
	align-items: flex-start;
	padding-bottom: 100px;
	padding-top: 260px;
	}

.main__container {
	position: relative;
	z-index: 2;
	flex: 1 1 auto;
}

.main__body {
	max-width:960px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 28px;
}

.main__quote {
	color: #FFF;
	text-align: inherit;
	font-family: 'Kyiv Type Titling';
	font-size: 64px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1;
}

.main__author {
	color: #FFF;
	text-align: center;
	font-family: Arsenal;
	font-style: italic;
	letter-spacing: 0.72px;
}
.main__author:not(:last-child){
padding-bottom: 52px;
}
.reserve {
	color: #FFF;
	padding: 20px 40px;
	border-radius: 30px;
	border: 1px solid #FFF;
	display: inline-block;
	transition: background-color 0.3s ;
}
.reserve:hover{
background-color: rgba(114, 47, 55, 0.662); 
}
.main__backgraund {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
.main__backgraund img{
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
object-fit: cover;
}

@media(max-width:767.98px){
	
	.main__quote{
		font-size: 38px;
	}
	.main{
		padding-top: 150px;
		padding-bottom: 100px;
	}
	.main__author:not(:last-child){
		padding-bottom: 30px;
	}

	
}

/* Slider 1 */
.swiper {
	max-width: 1260px;
	max-height: 600px;
	margin: 10px auto;
	margin-bottom: 100px;
	border-radius: 30px;
}

.swiper-wrapper {
	box-sizing: content-box;
	position: relative;
}

.swiper-slide {
	position: relative;
	overflow: hidden;
	padding-bottom: 63%;
	
	
}

.swiper-slide img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	position: absolute;
	top: 0;
	left: 0;
}

.swiper-pagination-bullet {
	background-color: transparent;
	border-radius: 50%;
	opacity: 0.32;
	width: 16px;
	height: 16px;
	border: 1px solid white;
}
.swiper-pagination-bullet-active {
	background-color: #fff;
	opacity: 1;
}
/* ----------------------------------- */
.page__history{
	padding-top: 100px;
}
/* -------------------------------------- */

.page__history {}

.history {}

.history__container {}

.history__items {

}

.history__column {
	display: flex;
	gap: 19px;
}
.history__card{
	flex: 1 0 50%;
}

.history__images{
	position: relative;
	padding-bottom:130.7%;
}
.history__images img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 30px;
}
 
.history__info {
justify-content: center;
display: flex;
flex-direction: column;
gap: 36px;
}

.history__title {
	color: #000;
	font-family: 'Kyiv Type Titling';
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.1;
}

.history__text {
	color: #000;
	font-family: Arsenal;
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 1.1;
	letter-spacing: 0.72px;
}
.history__text p:not(:last-child){
	padding-bottom: 36px;
}
.history__text:not(:last-child){
	padding-bottom: 25px;

}
.main__reserve-color{
	color: #000;
	border: 1px solid #000;
	display: flex;
	align-self: flex-start;
}
.page__history{
	margin-bottom:100px;
}


.page__wine {
	margin-bottom: 100px;
}

@media(max-width:1000.98px){
	.history__column{
		flex-direction: column;
	}
	.history__images{
		padding-bottom: 40%;
	}

}
.wine-map {}

.wine-map__container {
	margin-bottom: 40px;
}

.wine-map__items {
	display: flex;
	margin: 0 -11px;
	flex-wrap: wrap;
	row-gap: 22px;
	margin-bottom: 60px;
	flex-direction: row;
}

.wine-map__colunm {
flex: 0 0 33.3333%;
padding: 0 11px;
}


.wine-map__item {}

.item-map {}

.item-map__image {
	position: relative;
	padding-bottom: 100%;
	overflow: hidden;
	border-radius: 30px;
}
.item-map__image:not(:last-child){
	margin-bottom: 40px;
}

.item-map__image img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.8s;
}
.item-map__image img:hover{
	transform: scale(1.05);
}

.item-map__description {
	color: #000;
	text-align: center;
	letter-spacing: 0.72px;
}

.wine-map__choice {
	text-align: center;
	letter-spacing: 0.72px;
	color: #000;
}

.wine-map__link {
	border-radius: 30px;
	border: 1px solid #000;
	padding: 20px 40px;
	color: #000;
}
@media(max-width:767.98px)
{
	.wine-map__colunm{
		flex: 0 0 50%;
	}
}
@media(max-width:561.98px)
{
	.wine-map__colunm {
			flex: 0 0 100%;
		}
}

/*------------------ Menu --------------------*/
.page__menu {
	margin-bottom: 100px;
}

.menu-map {
	
}

.menu-map__container {}

.menu-map__slider {
	text-align: center;
	min-height:600px;
	background-color: burlywood;
	margin-bottom: 60px;

}

.menu-map__choice {
	text-align: center;
	letter-spacing: 0.72px;
	color: #000;}

.menu-map__link {
	border-radius: 30px;
	border: 1px solid #000;
	padding: 20px 40px;
	color: #000;
}


/* footer */
.footer {
	position: relative;
}

.footer__container {
position: relative;
z-index: 2;
flex: 1 1 auto;
}

.footer__block {
padding: 150px 0px;
display: flex;
justify-content: space-between;
/* align-items: center; */
gap: 5px;
	

}

.footer__left {
		
}
.footer__menu-zakaz {
	display: flex;
	flex-direction: column;
}

.footer__logo {
	margin-bottom: 60px;
	color: #FFF;
}
.logo {}
.footer__text {
	color: #FFF;
	padding-bottom: 20px;
}
.footer__item{
}
.footer__tel {
	color: #FFF;
	letter-spacing: 0.72px;
}
.footer__link{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 60px;
	letter-spacing: 0.72px;
}
.footer__link:not(:last-child){
	padding-bottom: 127px;

}

/* .reserve {} */

.footer__adress {
	color: #FFF;
	letter-spacing: 0.72px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 20px;		
}

.footer__map {
	overflow: hidden;
	padding-bottom: 42.25%;
	position: relative;
	height: 100%;
	width: 43%;
}
.footer__map iframe{
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	position: absolute;
}

.footer__backgraund {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1;
}

.footer__backgraund img{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	
}
@media(max-width:870.98px)
{
	.footer__link:not(:last-child){
		padding-bottom: 30px;
	}
	.footer__map{
		padding-bottom: 47%;
	}
}
@media(max-width:767.98px){
	.footer__block{
		padding: 30px 0;
		flex-direction: column;
	}
	.footer__logo{
		margin-bottom: 30px;
	}
	.footer__map{
		margin-top: 30px;
		width: 100%;
	}
}


