@import url(https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  height: 100%;
  line-height: 1;
}

textarea,
button,
input {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  font-family: inherit;
}

button {
  cursor: pointer;
  background-color: inherit;
}

body {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #000;
  background-color: #fff;
}

.wrapper {
  overflow: clip;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1908px;
  /* 1878 + 15 + 15  */
  margin: 0 auto;
}

.page {
  margin-top: 30px;
}
.page__brand:not(:last-child) {
  margin-bottom: 30px;
}

.brand_page {
  position: relative;
}
.brand__title {
  position: absolute;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: -34px;
  text-align: center;
  font-family: Oswald;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 68px; /* 283.333% */
  text-transform: uppercase;
  max-width: 375px;
  background-color: #fff;
  padding: 0 5%;
}
.brand__list {
  border: 2px solid #C4C4C4;
  padding: 28px 11px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 35px;
}
.brand__link {
  padding-bottom: 60%;
  position: relative;
  overflow: hidden;
}
.brand__link img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

.promo-gallery__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 1280px) {
  .promo-gallery__list {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 1fr);
  }
}
.promo-gallery__item {
  position: relative;
}
.promo-gallery__img {
  position: relative;
  padding-bottom: 46.969697%; /* 434/924 */
}
.promo-gallery__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promo-gallery__content {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.promo-gallery__title {
  font-size: clamp(16px, 5vw, 48px);
  font-style: normal;
  font-weight: 600;
  line-height: 1.3; /* 129.167% */
  text-transform: uppercase;
}
.promo-gallery__title:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 412.99px) {
  .promo-gallery__title:not(:last-child) {
    margin-bottom: 3px;
  }
}
.promo-gallery__title.title__bg {
  font-size: clamp(26px, 10vw, 96px);
}
.promo-gallery__desc {
  font-family: "Roboto Light";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.6; /* 168.182% */
  letter-spacing: 0.22px;
  margin-bottom: 50px;
}
@media (max-width: 1690px) {
  .promo-gallery__desc {
    margin-bottom: 40px;
  }
}
@media (max-width: 1620px) {
  .promo-gallery__desc {
    margin-bottom: 30px;
  }
}
@media (max-width: 1525px) {
  .promo-gallery__desc {
    margin-bottom: 25px;
  }
}
@media (max-width: 1278.99px) {
  .promo-gallery__desc {
    margin-bottom: 50px;
  }
}
@media (max-width: 840px) {
  .promo-gallery__desc {
    margin-bottom: 30px;
  }
}
@media (max-width: 639.99px) {
  .promo-gallery__desc {
    margin-bottom: 10px;
    font-size: 16px;
  }
}
@media (max-width: 430.99px) {
  .promo-gallery__desc {
    margin-bottom: 8px;
    font-size: 14px;
  }
}
@media (max-width: 412.99px) {
  .promo-gallery__desc {
    margin-bottom: 8px;
    font-size: 14px;
  }
}
@media (max-width: 388.99px) {
  .promo-gallery__desc {
    margin-bottom: 8px;
    font-size: 10px;
  }
}
.promo-gallery__buy {
  max-width: 180px;
  border: 2px solid #000;
  text-align: center;
  font-family: Oswald;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  padding: 18px 45px;
}
@media (max-width: 1773px) {
  .promo-gallery__buy {
    padding: 18px 30px;
  }
}
@media (max-width: 1378px) {
  .promo-gallery__buy {
    padding: 13px 23px;
    font-size: 16px;
    max-width: 130px;
  }
}
@media (max-width: 1279.99px) {
  .promo-gallery__buy {
    padding: 20px 45px;
    font-size: 18px;
    max-width: 175px;
  }
}
@media (max-width: 1184.99px) {
  .promo-gallery__buy {
    padding: 20px 45px;
    font-size: 18px;
    max-width: 175px;
  }
}
@media (max-width: 725.99px) {
  .promo-gallery__buy {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}
@media (max-width: 725.99px) {
  .promo-gallery__buy {
    padding: 10px;
  }
}
@media (max-width: 488.99px) {
  .promo-gallery__buy {
    font-size: 12px;
    max-width: 86px;
  }
}
@media (max-width: 388.99px) {
  .promo-gallery__buy {
    padding: 11px 18px;
    font-size: 10px;
  }
}
.promo-gallery__item-big {
  grid-row: span 2;
  position: relative;
}
.promo-gallery__img-bg {
  position: relative;
  padding-bottom: 97.081081%; /* 898/925 */
}
.promo-gallery__img-bg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.promo-gallery__bg {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  bottom: 0;
  left: 0;
  padding-left: 6vw;
  padding-bottom: 8vh;
}
.promo-gallery .mod__right-pad {
  padding: 8.5% 5% 5% 50%;
}
@media (max-width: 1570px) {
  .promo-gallery .mod__right-pad {
    padding-top: 8%;
  }
}
@media (max-width: 1530px) {
  .promo-gallery .mod__right-pad {
    padding-top: 7%;
  }
}
@media (max-width: 1450px) {
  .promo-gallery .mod__right-pad {
    padding-top: 4%;
  }
}
@media (max-width: 1280px) {
  .promo-gallery .mod__right-pad {
    padding-top: 17%;
  }
}
@media (max-width: 725.99px) {
  .promo-gallery .mod__right-pad {
    padding-top: 12%;
  }
}
@media (max-width: 488.99px) {
  .promo-gallery .mod__right-pad {
    padding-top: 11%;
  }
}
.promo-gallery .mod__left-pad {
  padding: 15% 5% 5% 10%;
}
@media (max-width: 1330px) {
  .promo-gallery .mod__left-pad {
    padding-top: 7%;
  }
}
@media (max-width: 1570px) {
  .promo-gallery .mod__left-pad {
    padding-top: 8%;
  }
}
@media (max-width: 1530px) {
  .promo-gallery .mod__left-pad {
    padding-top: 7%;
  }
}
@media (max-width: 1450px) {
  .promo-gallery .mod__left-pad {
    padding-top: 10%;
  }
}
@media (max-width: 1280px) {
  .promo-gallery .mod__left-pad {
    padding-top: 17%;
  }
}
@media (max-width: 725.99px) {
  .promo-gallery .mod__left-pad {
    padding-top: 12%;
  }
}
@media (max-width: 488.99px) {
  .promo-gallery .mod__left-pad {
    padding-top: 11%;
  }
}