@import"_reset.scss";
@import url(https://fonts.googleapis.com/css?family=Oswald:300,regular,500,600,700&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:regular,500,700,900&display=swap);

$pcolor:#000;
$bgColor:#fff;


body {
	font-family: 'Oswald', sans-serif;
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	color: $pcolor;
	background-color: $bgColor;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1908px;
	/* 1878 + 15 + 15  */
	margin: 0 auto;
}


.page {
	margin-top: 30px;

	&__container {
	}
	
	&__brand {
		&:not(:last-child){
			margin-bottom: 30px;
		}
	}
	}
	.brand {
		
	
		&_page {
			
			position: relative;
			
		}
		
		&__title {
			position: absolute;
			margin:0 auto;
			left: 0;
			right: 0;
			top: -34px;
			text-align:center;
			font-family: Oswald;
			font-size: 24px;
			font-style: normal;
			font-weight: 400;
			line-height: 68px; /* 283.333% */
			text-transform: uppercase;
			max-width: 375px;
			background-color: #fff;
			padding: 0 5%;

		}
		
		&__list {
			border: 2px solid #C4C4C4; 
			padding: 28px 11px;
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(100px,1fr));
			gap: 35px;
		}
		
		&__link {
			padding-bottom: 60%;
			position: relative;
			overflow: hidden;
		}
		&__link{
			img{
				position: absolute;
				width: 100%;
				height: 100%;
				top: 0;
				left: 0;
				object-fit: cover;
			}
		}
	}

	///////////////////////////
	
	.page {

		&__promo {
		}
		}
		.promo-gallery {
			
		
		&__list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			grid-template-rows: repeat(2, 1fr);
			gap: 30px;			
			@media (max-width:1280px) {
				grid-template-columns: repeat(1, 1fr);
				grid-template-rows: repeat(1, 1fr);
				
			}
		}
							
		
		&__item {
			position: relative;
			
		}
		
		&__img {
			position: relative;
			padding-bottom: 46.969697%; /* 434/924 */
			

			 img{
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				object-fit: cover;
				

			}

		}
		
		&__content {
			position: absolute;
			z-index: 2;
			top: 0;
			left: 0;
			display: flex;
			flex-direction: column;
			// gap: 10px; 
			// max-width: 570px;


			

		}
		
		&__title {
			font-size: clamp(16px, 5vw, 48px);
			font-style: normal;
			font-weight: 600;
			line-height: 1.3; /* 129.167% */
			text-transform: uppercase;
			
			&:not(:last-child){
				margin-bottom: 10px;
			}

			@media (max-width:412.99px) {
				&:not(:last-child){
					margin-bottom: 3px;
				}
			}
			// @media (max-width:1500px) {
			// 	font-size: 30px;
			// }
			&.title__bg{
				font-size: clamp(26px, 10vw, 96px);
				
			}
			
		}
		
		&__desc {
			font-family: "Roboto Light";
			font-size: 22px;
			font-style: normal;
			font-weight: 400;
			line-height: 1.6; /* 168.182% */
			letter-spacing: 0.22px;
			margin-bottom: 50px;
			
			// &:not(:last-child){
			// 	margin-bottom: 50px;
			// // }
			// @media (min-width:1773px) {
			// 	margin-bottom: 50px;
			// }
			@media (max-width:1690px) {
				margin-bottom: 40px;
			}
			@media (max-width:1620px) {
				margin-bottom: 30px;
			}
			@media (max-width:1525px) {
				margin-bottom: 25px;
			}
			@media (max-width:1275.99px) {
				margin-bottom: 50px;
			}
			@media (max-width:840px) {
				margin-bottom: 30px;
			}
			@media (max-width:639.99px) {
				margin-bottom: 10px;
				font-size: 16px;
			}
			@media (max-width:430.99px) {
				margin-bottom: 8px;
				font-size: 14px;
			}

			@media (max-width:412.99px) {
				margin-bottom: 8px;
				font-size: 10px;
			}

		}
		
		&__buy {
			max-width: 180px;
			// height: 56px;
			border: 2px solid #000;
			text-align: center;
			font-family: Oswald;
			font-size: 18px;
			font-style: normal;
			font-weight: 500;
			line-height: normal;
			// letter-spacing: 0.5px;
			text-transform: uppercase;
			padding: 18px 45px;
			@media (max-width:1773px) {
				padding: 18px 30px;
			}
			@media (max-width:1378px) {
				padding: 13px 23px;
				font-size: 16px;
				max-width: 130px;
				}
			@media (max-width:1184.99px) {
				padding: 20px 45px;
				font-size: 18px;
				max-width: 175px;
			}
			@media (max-width:725.99px) {
				padding-top: 10px;
				padding-bottom: 10px;
			}
			@media (max-width:725.99px) {
				padding: 10px;
			}
			@media (max-width:488.99px) {
				font-size: 12px;
				max-width: 86px;
			}

		}
		
		&__item-big {
			grid-row: span 2;
			position: relative;
			
		}
		
		&__img-bg {
			position: relative;
			padding-bottom: 97.081081%; /* 898/925 */

				img{
					position: absolute;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					object-fit: cover;
				} 
		}
			&__bg{
				justify-content: flex-end;
				bottom: 0;
				left: 0;
				padding-left: 6vw;
				padding-bottom: 8vh;
				
			}
		

		.mod {
		
		&__right-pad {
			padding: 11% 5% 5% 50%;

			@media (max-width:1570px) {
				padding-top: 8%;
				}
			@media (max-width:1530px) {
			padding-top: 7%;
			}
			@media (max-width:1450px) {
				padding-top: 4%;
			}
			@media (max-width:1280px) {
				padding-top: 17%;
			}
			@media (max-width:725.99px) {
				padding-top: 12%;
			}
			@media (max-width:488.99px) {
				padding-top: 11%;
			}
			
		}
		
		&__left-pad {
			padding: 15% 5% 5% 10%;
			@media (max-width:1330px) {
				padding-top: 7%;
				}
		}
	}
		
		
}
	 
	 