@import url("reset.css");
@import url("common.css");
@import url('https://fonts.googleapis.com/css?family=Bruno+Ace+SC:regular&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap');

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	background-color: #000;

}

.wrapper>main {
	flex-grow: 1;
}

[class*="__container"] {
	padding-left: 15px;
	padding-right: 15px;
	max-width: 1260px;
	padding-top: 10px;
	padding-bottom: 20px;
	color: white;
	margin: 0 auto;
}

body{
	font-family: "Roboto Condensed",sans-serif;
	font-size: 15px;
	font-style: normal;
	font-weight: 300;
	line-height: 1.1;
	
}

.header {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	z-index: 50;
}

.header__container {
	display: flex;
	gap: 15px;
	align-items: center;
	min-height: 120px;
	}

.header__logo {
	font-family: "Roboto Condensed", serif;
	font-style: normal;
	font-weight: 700;
	line-height: 1.1;
	color: aqua;
	white-space: nowrap;	
	font-size: 24px;
}
.header__logo span{
	font-family:"Roboto Condensed", serif;
	font-style: normal;
	font-weight: 700;
	line-height: 1.1;
	color: #FAFF00;
	font-size: 24px;

}

.logo {
	

}

.header__navigaiton {
	display: flex;
	align-items: center;
	gap: 20px;
	flex: 1 1 auto;
	justify-content: flex-end;
	min-height: 25px;
}

.header__menu {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 25px;
	flex: 1 1 auto;

}

.menu {
	
}

.menu__body {
	
}

.menu__list {
	display: flex;
	gap: 75px;
	flex-wrap: wrap;
}

.menu__item {}

.menu__link {
	line-height: 1.6;
	color: #FFF;
	position: relative;
	display: inline-block;
	font-size: 20px;
}

.menu__link::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 50%;
	height: 2px;
	width: 0;
	transition: width 0.3s, left 0.3s;
	border-radius: 2px;
	background-color: #ffffff;
}
.menu-icon{
	display: none;
}
/* ------------------------ */
@media(any-hover:hover){
	.menu__item:hover .menu__link::before{
		width: 100%;
		left: 0;
	}
}
@media(max-width:767.98px) {
	.header__container {
		min-height: 70px;
	}
}
@media(max-width:744.98px){
	.menu__list{
		flex-direction: column;
		row-gap: 25px;
	}

	.menu-icon{
	display: block;
	flex: 0 0 30px;
	height: 18px;
	position: relative;

	}
	.menu-icon::before,
	.menu-icon::after,
	.menu-icon span{
	content: "";
	position: absolute;
	height: 1px;
	left: 0;
	width: 100%;
	background-color: #FFF;
	transition: all 0.3s;

	}
	.menu-icon::before{
		top: 0;
	}
	.menu-icon::after{
		bottom: 0;
	}
	.menu-icon span{
		top: 50%;
		margin-top: -0.5px;
	}
	.menu-open .menu-icon::before{
		top: 50%;
		transform: rotate(-45deg);
	}
		.menu-open .menu-icon::before{
		top: 50%;
		transform: translateY(-50%) rotate(-45deg);
	}
	.menu-open .menu-icon::after {
		bottom: 50%;
		transform: translateY(50%) rotate(45deg);
	}
	.menu-open .menu-icon span{
		width: 0;
		left: 50%;
	}
	.menu__body{
		position: fixed;
		width: 100%;
		height: 100%;
		top: 0;
		left: -100%;
		overflow: auto;
		background-color: #000;
		padding: 70px 15px 20px 15px;
		transition: left 0.3s;
	}
	.menu__body::before{
		content: "";
		height: 50px;
		width: 100%;
		position: fixed;
		top: 0;
		left: -100%;
		background-color: #000000;
		z-index: 5;
		transition: left 0.3s;
	}
	.menu-open .menu__body,
	.menu-open .menu__body::before{
		left: 0;
	}

	
}
/* ------------------- */
/* main */
.page {
	
}
.page__main {
	padding-bottom: 150px;
}
/* --------------------- */
.main {
	position: relative;
	min-height: 100vh;
	display: flex;
	padding-bottom: 100px;
	padding-top: 310px;
	align-items: flex-start;
}
.main__container {
	position: relative;
	z-index: 2;
	flex: 1 1 auto;
}
.main__body {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 60px;
	max-width: 670px;
}
.main__title {
font-size: 64px;
font-style: normal;
font-weight: 500;
line-height: 1.1;
}
.main__link{
color: #000;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 1.1;
padding: 16px 50px;
border-radius: 30px;
background-color:#FAFF00;
align-self: flex-start;
transition:background-color 0.5s;
}
.main__link:hover{
	background-color:aqua;
}
.title {
}
.main__background {
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	overflow: hidden;
}
.main__background img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit:cover;
}
@media(max-width:767.98px) {
	.main__title {
		font-size: 50px;
		max-width: 600px;
	}
}
@media(max-width:460.98px) {
	.main__title {
		font-size: 45px;
		max-width: 600px;
	}
}
/* reasons */
.reasons:not(:last-child){
	margin-bottom: 150px
}
.reasons__title{
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.specs{
	
}

.specs__title:not(:last-child){
	padding-bottom: 15px;
}
.specs__text{
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 1.1;
}
.specs__item{

}
.reasons__body{
	margin-bottom: 100px;
}
.specs__list{
	display: grid;
	column-gap: 40px;
	row-gap: 20px;
	align-items: center;
	justify-items: self-start;
	justify-content: center;
	grid-template: 1fr 1fr/1fr 1fr;

}
.specs__item{
	display: flex;
	gap: 10px;
	justify-self: self-start;
	justify-content: center;
	align-items: center;
}

.specs__img img{
	display: inline-block;
	max-width: 60px;
	max-height: 60px;
}
@media(max-width:767.98px) {
	.specs__list{
		grid-template:1fr/1fr;
		
	}
}

/* page__membership sections */

.section__container {
}
.sections__title {
font-size: 48px;
font-style: normal;
font-weight: 500;
line-height: 1.6;
display: flex;
align-items: center;
justify-content: center;

}

/* ----------------------- */



.section__container {
}
.section__block {
}
.sections__title:not(:last-child) {
	padding-bottom: 80px;
}
.section__card {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: space-evenly;
	

}
.card {
}
.card__column{
	flex: 0 1 32.333%;
	border-radius: 31px;
	background: #222;
	border: 1px solid #000;
	transition: all 0.5s;
	
	
	
}
.card__column:hover{
	border:1px solid rgba(250, 255, 0, 1);
}
.card__column:hover .card__title{
	background: rgba(250, 255, 0, 1);
	color: #000;
	
	
}
.card__body {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	flex-wrap: wrap;
}


.card__title {
padding-top: 15px;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 1.6;
text-align: center;
padding-bottom: 15px;
transition: all 0.5s;
border-radius: 29px 29px 0 0;
}
.card__items {
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
	padding: 0 15px;
	flex-wrap: wrap;
}
.card__items:not(:last-child){
	padding-bottom: 15px;
}

.card__item {
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: 1.6;
}

.main__link-mod{
	align-self: center;
	padding: 10px 10px;
	border-radius: 30px;
	font-size: 18px;
	margin-bottom: 15px;

}
@media(max-width:999.98px) {
	.card__column{
		flex-basis: 49%;
	}
}
@media(max-width:779.98px) {
	.card__column{
		flex-basis: 80%;
	}
	.card__items{
		align-items: center;
	}
}
@media(max-width:504.98px) {
	
	.card__title{
		
		font-size: 20px;
	}
}